.linkButton {
  @apply bg-[linear-gradient(#0b5563,#9198e5)] w-80 border-[10px] border-[#9198e5] hover:bg-[linear-gradient(#9198e5,#0b5563)] hover:border-[10px] hover:border-[#0b5563] lg:grid-rows-[80%_20%] lg:h-48 lg:w-48;
  animation: button-color-change 0.5s linear infinite alternate;
  border-style: outset;
}

/* in mobile, remove the image to conserve space */
.linkButton > img {
  @apply hidden lg:block;
}

.navBar {
  @apply animate-moveBackgroundDown;
  border-style: outset;
  background-image: url('https://res.cloudinary.com/dmfnrbrly/image/upload/v1694711264/colter%20harris%20site/bubbles\_eyf6sr.png');

}

/* ANIMATIONS */
@keyframes button-color-change {
  0% {
    color: #fff;
  }

  100% {
    color: #161BB2
  }
}
