.linkButton {
  background-image: linear-gradient(#0b5563, #9198e5);
  border: 10px outset #9198e5;
  grid-template-rows: 80% 20%;
}

.linkButton:hover {
  background-image: linear-gradient(#9198e5, #0b5563);
  border: 10px inset #0b5563;
}

.navBar {
  @apply animate-moveBackgroundDown;
  background-image: url('/images/bubbles.png');
  border: 10px outset #9198e5;
  padding: 10px 20px;
}


/* ANIMATIONS */
@keyframes flash {
  0% {
      color: #a2bce0;
  }
  25% {
      color: #5299d3;
  }
  50% {
      color: #50285a;
  }
  75% {
      color: #0b5563;
  }
  100% {
      color: #a2bce0;
  }
}