.marqueeContent {
  animation: marquee 10s linear infinite;
  height: 100px;
}

@keyframes marquee {
  0% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(-25%);
  }
  50% {
      transform: translateX(0);
  }
  75% {
      transform: translateX(25%);
  }
  100% {
      transform: translateX(0);
  }
}
