.contactContainer {
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.contactFormButton {
  background-image: linear-gradient(#0b5563, #9198e5);
  border: 10px outset #9198e5;
}

.contactFormButton:hover {
  background-image: linear-gradient(#9198e5, #0b5563);
  border: 10px inset #0b5563;
}