@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply animate-moveBackgroundDown;
  background-image: url('https://res.cloudinary.com/dmfnrbrly/image/upload/v1694711313/colter%20harris%20site/purpleish_z6dlpr.png');
  color: whitesmoke;
  font-size: 1.5rem;
  text-shadow: whitesmoke 1px 0 10px;
}

main {
  @apply animate-moveBackgroundDown;
  background-attachment: fixed;
  background-image: url('https://res.cloudinary.com/dmfnrbrly/image/upload/v1694711264/colter%20harris%20site/bubbles_eyf6sr.png');
  border: 10px outset #9198e5;
  margin: 5%;
}

main > .content {
  margin: 50px;
  font-size: 1.75rem;
}

@media screen and (min-width: 1024px) {
  main {
    margin-right: 20%;
  }
}

.hypercamWatermark {
  color: #000;
  background-color: #fff;
  font-size: 25px;
  line-height: 20px;
  padding: 2px;
  position: fixed;
  text-shadow: none;
  z-index: 1000;
}