@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  @apply animate-moveBackgroundDown;
  background-image: url('../../public/images/purpleish.png');
  color: whitesmoke;
  font-size: 1.5rem;
  text-shadow: whitesmoke 1px 0 10px;
}

main {
  @apply animate-moveBackgroundDown;
  background-image: url('/images/bubbles.png');
  border: 10px outset #9198e5;
  margin-left: 25%;
  max-width: 50%;
}

main > .content {
  margin: 50px;
  font-size: 1.75rem;
}